<div class="contact_form">

  <div class="formulario">
    <h1>Iniciar sesión</h1>

    <form [formGroup]="signUpForm" (ngSubmit)="saveUser()">
      <p>
        <label for="email" class="colocar_email"> CORREO
          <span class="obligatorio"></span>
        </label>
        <input type="correo" name="introducir_correo"
          id="correo" required="obligatorio"
          placeholder="Escribe tu correo">
      </p>

      <p>
        <label for="contraseña" class="colocar_contraseña">CONTRASEÑA
          <span class="obligatorio"></span>
        </label>
        <input type="password" name="password"
          id="clave" required="obligatorio"
          placeholder="Escribe tu contraseña">
      </p>

      <button type="submit" name="enviar_formulario" id="enviar"><p>Ingresar</p></button>
      <p class="aviso">
        <span class="obligatorio"></span>Olvidé mi contraseña.
      </p>

      <div class="alert alert-secondary" role="alert">
        ¿No tienes una cuenta?/<a routerLink="/form-consumidor"
          class="alert-link"> Registrarme ahora.</a>
      </div>
    </form>
  </div>
</div>
