<div class="row">
  <div class="col-3">
   
  </div>

  <div class="col-9">
    <input arial-label="Search" type="search" placeholder="Buscar"
      class="from-control"  [(ngModel)]="search" >
      <button  (click)="fetchProduct(search)">buscar</button>
  </div>

</div>
<div class="col mb-4" *ngFor="let product of products">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Marca: </b>
                {{product.brandName}} </li>
            <li class="list-group-item"><b>Descripción: </b>
                {{product.description}} </li>
            <li class="list-group-item"><b>Medida: </b> {{product.unitM}}
            </li>
            <li class="list-group-item"><b>Cantidad: </b>
                {{product.quantity}} </li>
            <li class="list-group-item"><b>Precio: </b> {{product.price}}
            </li>
            <li class="list-group-item"><b>Descuento Producto: </b>
                {{product.productDiscount}} </li>
        </ul>
  
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <a href="#"><img class="cesta" src="assets/Images/cesta.png"></a>
    <h3 class="card-title"><b>Mis Tiendas</b></h3>
    <p class="card-textp">Encuentra los mejores productos más cerca de ti y
      con un solo <b>Click</b></p>
    <a routerLink="/localidades" class="btn btn-primary">Buscar</a>
  </div>
</div>



<!--Slider-->

<div id="carouselExampleFade" class="carousel slide carousel-fade"
  data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/Images/combo1.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo2.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo5.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo3.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo4.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo7.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/Images/combo6.jpg" class="d-block w-100"
        alt="...">
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade"
      role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Promociones</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade"
      role="button"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- CARDS PROMOCIONES -->


<div class="row">

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>Tienda Don Juan</b></h5>
        <img src="assets/Images/promo1.jpg" class="cards-promo">
        <p class="card-text">El día de hoy lleva 12 deliciosos panes
          hojaldrados por: <b>$2.000</b>. Visítanos para que conozcas
          más
          promociones.</p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Tiendita de la esquina</b></h5>
        <img src="assets/Images/promo2.jpg" class="cards-promo">
        <p class="card-text">Te ofrecemos la mejores promociones en
          verduras
          el día de hoy. 10 libras de papa pastusa, por: <b>$4.000</b>.
          Visítanos para que conozcas más promociones. </p>
        <a href="./tienda2.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>MiniSuper</b></h5>
        <img src="assets/Images/promo3.jpg" class="cards-promo">
        <p class="card-text">¡Sólo por hoy!, lleva todos nuestros
          productos de
          nevera a un precio <b>increíble</b>. Visítanos para que
          conozcas más
          promociones. </p>
        <a href="./tienda3.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Licorera el buen vecino</b></h5>
        <img src="assets/Images/promo4.jpg" class="cards-promo">
        <p class="card-text">Celebra tus mejores fiestas con los mejores
          licores y al mejor<b> precio</b>. Visítanos para que conozcas
          más
          promociones. </p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>Tienda Don Juan</b></h5>
        <img src="assets/Images/promo1.jpg" class="cards-promo">
        <p class="card-text">El día de hoy lleva 12 deliciosos panes
          hojaldrados por: <b>$2.000</b>. Visítanos para que conozcas
          más
          promociones.</p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Tiendita de la esquina</b></h5>
        <img src="assets/Images/promo2.jpg" class="cards-promo">
        <p class="card-text">Te ofrecemos la mejores promociones en
          verduras
          el día de hoy. 10 libras de papa pastusa, por: <b>$4.000</b>.
          Visítanos para que conozcas más promociones. </p>
        <a href="./tienda2.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>MiniSuper</b></h5>
        <img src="assets/Images/promo3.jpg" class="cards-promo">
        <p class="card-text">¡Sólo por hoy!, lleva todos nuestros
          productos de
          nevera a un precio <b>increíble</b>. Visítanos para que
          conozcas más
          promociones. </p>
        <a href="./tienda3.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Licorera el buen vecino</b></h5>
        <img src="assets/Images/promo4.jpg" class="cards-promo">
        <p class="card-text">Celebra tus mejores fiestas con los mejores
          licores y al mejor<b> precio</b>. Visítanos para que conozcas
          más
          promociones. </p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>Tienda Don Juan</b></h5>
        <img src="assets/Images/promo1.jpg" class="cards-promo">
        <p class="card-text">El día de hoy lleva 12 deliciosos panes
          hojaldrados por: <b>$2.000</b>. Visítanos para que conozcas
          más
          promociones.</p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Tiendita de la esquina</b></h5>
        <img src="assets/Images/promo2.jpg" class="cards-promo">
        <p class="card-text">Te ofrecemos la mejores promociones en
          verduras
          el día de hoy. 10 libras de papa pastusa, por: <b>$4.000</b>.
          Visítanos para que conozcas más promociones. </p>
        <a href="./tienda2.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>MiniSuper</b></h5>
        <img src="assets/Images/promo3.jpg" class="cards-promo">
        <p class="card-text">¡Sólo por hoy!, lleva todos nuestros
          productos de
          nevera a un precio <b>increíble</b>. Visítanos para que
          conozcas más
          promociones. </p>
        <a href="./tienda3.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Licorera el buen vecino</b></h5>
        <img src="assets/Images/promo4.jpg" class="cards-promo">
        <p class="card-text">Celebra tus mejores fiestas con los mejores
          licores y al mejor<b> precio</b>. Visítanos para que conozcas
          más
          promociones. </p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>Tienda Don Juan</b></h5>
        <img src="assets/Images/promo1.jpg" class="cards-promo">
        <p class="card-text">El día de hoy lleva 12 deliciosos panes
          hojaldrados por: <b>$2.000</b>. Visítanos para que conozcas
          más
          promociones.</p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Tiendita de la esquina</b></h5>
        <img src="assets/Images/promo2.jpg" class="cards-promo">
        <p class="card-text">Te ofrecemos la mejores promociones en
          verduras
          el día de hoy. 10 libras de papa pastusa, por: <b>$4.000</b>.
          Visítanos para que conozcas más promociones. </p>
        <a href="./tienda2.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>MiniSuper</b></h5>
        <img src="assets/Images/promo3.jpg" class="cards-promo">
        <p class="card-text">¡Sólo por hoy!, lleva todos nuestros
          productos de
          nevera a un precio <b>increíble</b>. Visítanos para que
          conozcas más
          promociones. </p>
        <a href="./tienda3.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Licorera el buen vecino</b></h5>
        <img src="assets/Images/promo4.jpg" class="cards-promo">
        <p class="card-text">Celebra tus mejores fiestas con los mejores
          licores y al mejor<b> precio</b>. Visítanos para que conozcas
          más promociones. </p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>Tienda Don Juan</b></h5>
        <img src="assets/Images/promo1.jpg" class="cards-promo">
        <p class="card-text">El día de hoy lleva 12 deliciosos panes
          hojaldrados por: <b>$2.000</b>. Visítanos para que conozcas
          más
          promociones.</p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b class="title">Tiendita de la esquina</b></h5>
        <img src="assets/Images/promo2.jpg" class="cards-promo">
        <p class="card-text">Te ofrecemos la mejores promociones en
          verduras
          el día de hoy. 10 libras de papa pastusa, por: <b>$4.000</b>.
          Visítanos para que conozcas más promociones. </p>
        <a href="./tienda2.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-uno">
      <div class="card-body">
        <h5 class="card-title"><b>MiniSuper</b></h5>
        <img src="assets/Images/promo3.jpg" class="cards-promo">
        <p class="card-text">¡Sólo por hoy!, lleva todos nuestros
          productos de
          nevera a un precio <b>increíble</b>. Visítanos para que
          conozcas más
          promociones. </p>
        <a href="./tienda3.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card-dos">
      <div class="card-body">
        <h5 class="card-title"><b>Licorera el buen vecino</b></h5>
        <img src="assets/Images/promo4.jpg" class="cards-promo">
        <p class="card-text">Celebra tus mejores fiestas con los mejores
          licores y al mejor<b> precio</b>. Visítanos para que conozcas
          más promociones. </p>
        <a href="./tienda1.html" class="btn btn-primary">Ir a la tienda</a>
      </div>
    </div>
  </div>
</div>


<!--  NUEVO FORMULARIO -->

<div class="contact-form">

  <h1>Déjanos tu sugerencia</h1>
  <h3>Escríbenos y en breve nos pondremos en contacto contigo.</h3>

  <form [formGroup]="homeForm" (ngSubmit)="saveSugerencia()">

    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Nombres</label>
        <input formControlName="firstName" id="firstName" type="text"
          class="form-control">
      </div>

      <div class="form-group col-md-8">
        <label>Correo</label>
        <input formControlName="email" id="email" type="text"
          class="form-control">
        <p *ngIf="homeForm.get('email').errors?.email"
          class="error-message">
          El correo electronico es incorrecto. </p>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label>Telefono</label>
        <input formControlName="phone" id="phone" type="text"
          class="form-control">
      </div>

      <div class="form-group col-md-8">
        <label for="exampleFormControlTextarea1" class="texmensaje">Déjanos
          tu
          comentario</label>
        <!--<input formControlName="mensaje" id="mensaje" type="text" class="form-control">-->
        <textarea class="form-control" id="mensaje"
          formControlName="mensaje"></textarea>
      </div>
    </div>
    <button class="btn btn-info" id="enviar"> Enviar </button>
  </form>
</div>

<!--COOKIES-->

<div class="containerCookies">
  <div class="alert alert-dark alert-dismissible fade show"
    role="alert">
    <strong>Política con respecto a cookies:</strong> Utilizamos cookies
    propias y de terceros para mejorar nuestros
    servicios y mostrarle publicidad relacionada con sus preferencias
    mediante el análisis de sus hábitos de navegación.
    Si continúa navegando, consideramos que acepta su uso.
    <button type="button" class="close" data-dismiss="alert"
      aria-label="Close">
      <span aria-hidden="true" class="cookies"> Aceptar</span>
    </button>
  </div>