<h1>Selecciona tu localidad </h1>
<h3> Encuentra las tiendas de tu localidad </h3>
<div class="mapa">
    <button class="btn btn-primary">Buscar Por Mapa</button>
</div>


<!-- CARDS LOCALIDADES -->

<div class="row">

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/AntonioNariño.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/barriosUnidos.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/bosa.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/chapinero.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/ciudadBolivar.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/engativa.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/fontibon.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/kennedy.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/laCandelaria.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/losMartires.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/puenteAranda.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/uribeUribe.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/sanCristobal.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/santaFe.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/suba.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/sumapaz.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/teusaquillo.png" class="cards-locali">
                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-tres">
            <div class="card-body">
                <img src="assets/Images/tunjuelito.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-uno">
            <div class="card-body">
                <img src="assets/Images/usaquen.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card-dos">
            <div class="card-body">
                <img src="assets/Images/usme.png" class="cards-locali">

                <a href="./tienda1.html" class="btn btn-primary">Ir a las
                    tiendas</a>
            </div>
        </div>
    </div>



</div>
