<div class="container">

  <form >
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <i class="fas fa-envelope icon"></i>
        <input type="text" class="form-control" placeholder="Correo">
      </div>

      <div class="col-md-6 mb-3">
        <i class="fas fa-mobile icon"></i>
        <input type="text" class="form-control" placeholder="Celular">
      </div>

      <div class="col-md-6 mb-3">
        <i class="fas fa-user icon"></i>
        <input type="text" class="form-control" placeholder="Nombre(s)">
      </div>

      <div class="col-md-6 mb-3">
        <i class="fas fa-user icon"></i>
        <input type="text" class="form-control" placeholder="Apellido(s)">
      </div>

      <div class="col-md-6 mb-3">
        <i class="fas fa-lock icon"></i>
        <input type="text" class="form-control" placeholder="Contraseña">
      </div>

      <div class="col-md-6 mb-3">
        <i class="fas fa-lock icon"></i>
        <input type="text" class="form-control" placeholder="Repetir
          contraseña">
      </div>

      <div class="col-md-6 mb-3">
        <input class="form-check-input" type="checkbox" value=""
          id="disabledFieldsetCheck">
        <label class="form-check-label" for="disabledFieldsetCheck">
          Acepto los términos y condiciones.
        </label>
      </div>
      <div class="col-md-6 mb-3">
        <button type="submit" class="btn btn-dark btn-lg active">Registrarme</button>
      </div>
    </div>

  </form>
</div>