.navbar-nav{
    margin-left: 83%;   
  }
.fa-home{
    font-size: 30px;
    width: 40px;
    color: black;
  }
  
  .fa-user{
    font-size: 30px; 
    width: 40px;
    color: black;
  }
  .fa-map-marked-alt{
    font-size: 30px;
    width: 50px;
    color: black;
  }