/**menu*/
.navbar-nav1
.navbar-nav{
  margin-left: 83%; 
}

.fa-bell{
  font-size: 30px;
  width: 40px;
  color: black;
}
.fa-user{
  font-size: 30px; 
  width: 40px;
  color: black;
}
.fa-cart-arrow-down{
  font-size: 30px;
  width: 50px;
  color: black;
}

/* FOOTER*/

.footer{
  background-color: black;
  color: white;
  margin-bottom: 0%;
  width: 100%; 
  text-align: center;
  line-height: 3;
}
/*Mercado*/

.fh5co-heading .heading {
    position: relative;
    padding-top: 30px !important;
    font-size: 40px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  #fh5co-menus .fh5co-food-menu h2 {  
    margin-top: 70px;
    margin-bottom: 50px;
    font-style: italic;
    position: relative;
    padding-left: 50px;
  }

  #fh5co-menus .fh5co-food-menu ul li { 
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px dotted #ccc;
    float: left;
    width: 100%;
  }
  
  #fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc { 
    clear: both;
    float: left;
    width: 80%;
  }
  
  #fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > figure { 
    width: 20%;
    float: left;
    position: relative;
    margin-right: 4%;
  }
  
  #fh5co-menus .fh5co-food-menu ul li .fh5co-food-desc > div h3 { 
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
    color: #000;
  }
  #fh5co-menus .fh5co-food-menu ul li .fh5co-food-pricing { 
    float: right;
    width: 20%;
    text-align: right;
    font-size: 20px;
    color: #fb6e14;
  }

  /*Boostrap_todo*/

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

  
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #ddd !important;
    }
  }
  
  figure {
    margin: 0;
  }
  
  .img-responsive { 
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  h1, .h1 {
    font-size: 60px;
  }
  
  h2, .h2 {
    font-size: 30px;
  }
  
  h3, .h3 {
    font-size: 24px;
  }

  @media (min-width: 768px) {
    .container { 
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container { 
      width: 970px;
    }
  }
   
    .col-md-4 { 
      width: 33.33333%;
      margin-top: 50px;
      margin-bottom: 70px;
    }
  
    .col-md-6 { 
      width: 50%;
    }
  
    .col-md-8 { 
      width: 66.66667%;
    }
  
    .col-md-offset-2 { 
      margin-left: 16.66667%;
    }
  
    .col-md-offset-4 { 
      margin-left: 33.33333%;
    }